.signUpBackGround {
  background-color: #f3ece3;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
}

.signUpBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.signUpBlock .logo {
  height: 164.96px;
  width: 150px;
}

.signUpBlock .inputArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  margin-top: 20px;
}

.signUpBlock .inputArea .inputContainer {
  width: 249px;
  height: 63px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.signUpBlock .inputArea .inputContainer .inputTitle {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bolder;
  color: #a18973;
  margin-bottom: 6px;
}

.signUpBlock .inputArea .inputContainer .inputLine {
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddeaf3;
  border-radius: 6px;
  padding-left: 8px;
}
input::placeholder {
  font-size: 16px;
  font-weight: 400px;
  color: #e4dad2;
}

.signUpBlock .inputArea .inputContainer .inputLine:focus {
  border-color: #a18973;
  border-width: 2px;
  outline: none;
}

.signUpBlock .signUpBtn {
  display: flex;
  line-height: 40px;
  justify-content: center;
  width: 250px;
  height: 40px;
  background-color: #a18973;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
}

.signUpBlock .text {
  font-style: normal;
  font: Gothic A1;
}
